# Data Cleaning

## Load and Present Data

In [9]:
import pandas as pd

%matplotlib

Using matplotlib backend: macosx

In [10]:
df = pd.read_csv('../data/raw/cosmetics.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472 entries, 0 to 1471
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Label        1472 non-null   object
 1   Brand        1472 non-null   object
 2   Name         1472 non-null   object
 3   Price        1472 non-null   int64
 4   Rank         1472 non-null   float64
 5   Ingredients  1472 non-null   object
 6   Combination  1472 non-null   int64
 7   Dry          1472 non-null   int64
 8   Normal       1472 non-null   int64
 9   Oily         1472 non-null   int64
 10  Sensitive    1472 non-null   int64
dtypes: float64(1), int64(6), object(4)
memory usage: 126.6+ KB

## Handling Missing Values

In [11]:
print(df.isna().sum())

Label          0
Brand          0
Name           0
Price          0
Rank           0
Ingredients    0
Combination    0
Dry            0
Normal         0
Oily           0
Sensitive      0
dtype: int64

## Handling

## Removing Duplicates

In [12]:
print(df.duplicated().sum())

0

## Irrelevant Rows

In [13]:
irrelevent_rows = ["Label","Brand","Name","Price","Rank"]
df.drop(irrelevent_rows, axis=1, inplace=True)
df

,Ingredients,Combination,Dry,Normal,Oily,Sensitive
0,"Algae (Seaweed) Extract, Mineral Oil, Petrolat...",1,1,1,1,1
1,"Galactomyces Ferment Filtrate (Pitera), Butyle...",1,1,1,1,1
2,"Water, Dicaprylyl Carbonate, Glycerin, Ceteary...",1,1,1,1,0
3,"Algae (Seaweed) Extract, Cyclopentasiloxane, P...",1,1,1,1,1
4,"Water, Snail Secretion Filtrate, Phenyl Trimet...",1,1,1,1,1
...,...,...,...,...,...,...
1467,"Water, Alcohol Denat., Potassium Cetyl Phospha...",1,1,1,1,1
1468,"Water, Isododecane, Dimethicone, Butyloctyl Sa...",0,0,0,0,0
1469,"Water, Dihydroxyacetone, Glycerin, Sclerocarya...",0,0,0,0,0
1470,"Water, Dihydroxyacetone, Propylene Glycol, PPG...",0,0,0,0,0
1471,Visit the DERMAFLASH boutique,1,1,1,1,1

## Standardisation of Ingredients

In [15]:
# converting to lowercase
df['Ingredients'] = df['Ingredients'].str.lower()
# removing spaces

# only using biological names for the ingredients

,Ingredients,Combination,Dry,Normal,Oily,Sensitive
0,"algae (seaweed) extract, mineral oil, petrolat...",1,1,1,1,1
1,"galactomyces ferment filtrate (pitera), butyle...",1,1,1,1,1
2,"water, dicaprylyl carbonate, glycerin, ceteary...",1,1,1,1,0
3,"algae (seaweed) extract, cyclopentasiloxane, p...",1,1,1,1,1
4,"water, snail secretion filtrate, phenyl trimet...",1,1,1,1,1
...,...,...,...,...,...,...
1467,"water, alcohol denat., potassium cetyl phospha...",1,1,1,1,1
1468,"water, isododecane, dimethicone, butyloctyl sa...",0,0,0,0,0
1469,"water, dihydroxyacetone, glycerin, sclerocarya...",0,0,0,0,0
1470,"water, dihydroxyacetone, propylene glycol, ppg...",0,0,0,0,0
1471,visit the dermaflash boutique,1,1,1,1,1

## Feature Engineering

In [ ]:
# tokenisation

## Feature Extraction

In [ ]:
# vectorisation